# Symfony (dans api/)
api/var/
api/vendor/
api/.env.local
api/.env.*.local
api/.env.test
api/phpunit.xml
api/phpunit.xml.dist

# système
.DS_Store
Thumbs.db

# IDE
.vscode/

# fichiers sensibles
importmap.php
