<footer>
    <img src="{{base}}favicon/favicon-96x96.png" alt="MH Interior Logo">
    <p>&copy; <span id="year"></span> MH Interior - Mareva MARTY. Tous droits réservés.</p>
    <p>Suivez-moi sur les réseaux sociaux :</p>
    <ul class="social-links">
        <li>
            <a href="https://www.facebook.com/..." target="_blank" aria-label="Facebook">
                <img src="{{base}}icons/Facebook.svg" alt="Facebook">
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/..." target="_blank" aria-label="Instagram">
                <img src="{{base}}icons/Instagram.png" alt="Instagram">
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/..." target="_blank" aria-label="LinkedIn">
                <img src="{{base}}icons/Linkedin.png" alt="LinkedIn">
            </a>
        </li>
    </ul>
    <a href="mentions-legales.html" style="text-decoration: none;">Mentions légales</a>
</footer>
