<header class="{{bannerClass}}">
  <div class="header-flex">
    <div class="logo-title">
      <img src="{{base}}favicon/favicon-96x96.png" alt="MH Interior Logo" class="header-logo">
      <h1 class="header-title">{{titre}}</h1>
    </div>
    <nav>
      <ul>
        <li><a href="{{base}}index.html" data-nav>Accueil</a></li>
        <li><a href="{{base}}portfolio.html" data-nav>Portfolio</a></li>
        <li><a href="{{base}}services.html" data-nav>Services</a></li>
        <li><a href="{{base}}contact.html" data-nav>Contact</a></li>
        <li><a href="{{base}}about.html" data-nav>À propos</a></li>
        <li class="search-item" id="searchItem">
          <form id="searchForm">
            <input type="text" id="searchInput" placeholder="Rechercher...">
            <button type="button" id="searchToggle"><i class="fa fa-search"></i></button>
          </form>
        </li>
      </ul>
    </nav>
  </div>
</header>
